body {
  color: #FFFFFF; /* Red */
  background-color: #000000; /* Light gray */
}

h1 {
  font-size: 36px;
  font-family: "Helvetica", sans-serif;
}

h2 {
  font-size: 20px;
}

p {
  text-align: center;
}

ul {
  list-style-type: circle;
}

ol {
  list-style-type: lower-roman;
}
